<?xml version="1.0" encoding="UTF-8"?>

    <phpunit bootstrap="vendor/autoload.php"
            colors="true"
            verbose="true"
            stopOnFailure="false">
        <testsuites>
            <testsuite name="Testes">
                <directory>tests</directory>
            </testsuite>
        </testsuites>
        <php>
            <var name="DB_DSN" value="mysql:host=localhost"/>
            <var name="DB_USER" value="root"/>
            <var name="DB_PASSWORD" value="12345"/>
            <var name="DB_NAME" value="iomanagerTests"/>
        </php>
    </phpunit>